# Ignore macOS system files
.DS_Store

# Ignore Python virtual environments
venv/
__pycache__/

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore log files
*.log

# Ignore compiled Python files
*.pyc
*.pyo

# Ignore editor-specific files or directories
.vscode/
.idea/
*.sublime-*
casestudy.pdf
data/*
T3/rustAPSP/data/*
T3/rustAPSP/target/*